
html{
    box-sizing: border-box;
    font-size: 10px;
}

body{
    background-color: #fafafa;
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    color: #262626;
    padding: 0rem;
    max-width: 993px;
    margin: 0 auto;
}

button, input, textarea{
    outline: none;
}

.red{
    color: red;
}

.grey{
    color: #8e8e8e
}

.blue{
    color: #3897f0
}

a{
    color: #262626
}